body      {background-color: #000; color: #FFF; margin: auto; padding: 50px; font-family: "Lucida Console";}
h1        {font-size: 20pt;}
a         {color: #FFF; text-decoration: none; font-size: 13pt;}
a:hover   {color: #FFF; text-decoration: underline;}
p         {font-size: 13pt;}
img       {width: auto; max-width: 500px; margin-bottom: 20px;}
